@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
$text-collor: white;
$them-collor:  #B22222;
$menu-theme:rgba(92, 92, 92, 0.335);
html{
    scroll-behavior: smooth;
}
body{
    background-color:#7F7979;
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
.mobile-container {
    margin: auto;
    color: $text-collor;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: $them-collor;
    top: 0;
    z-index: 15;
    .hyper-header{
        text-align: center;
        color: $text-collor;
        font-size: 12px;
        hr{
            width: 100%;
            border: 1px solid $text-collor;
        }
    }
    .topnav {
        display: flex;
        justify-content: space-around;
        padding: 1vh 2vh 1vh 2vh;
        overflow: hidden;
        #myLinks {
            display: none;
            margin-top: 7vh;
            background-color: $them-collor;
            width: auto;
            right: 0;
            position: absolute;
            text-align: end;
            &:hover{
                color: white;
            }
        }
        a {
            padding: 10px 20px;
            text-decoration: none;
            font-size: 17px;
            display: flex;
            color:$text-collor;
        }
        .icon {
            display: block;
            position: absolute;
            right: 0;
            top: 55%;
            color: $text-collor;
        }
        #icon {
            margin-right: 1.5vh;
        }
    }

}
.active {
    border-color: white;
    border-style: none none solid; 
}

#intro{
    background-image: url(https://images.pexels.com/photos/4004463/pexels-photo-4004463.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-collor;
    text-align: center;
    .content{
        h3{
            font-size: 20px;
        }
        p{
            font-size: 15px;
        }
        button{
            background-color: $them-collor;
            border: none;
            border-radius:30px;
            font-size: 15px;
            padding: 2%;
            a{
                list-style: none;
                text-decoration: none;
                color: white;
            }
        }   
    }
}

#mediapanel{
    .first{//make a mix in fore media panels
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5vh;
        ul{
            list-style: none;
        }
        img{
            width: 100%;
        }
        .content{
            background-color: $them-collor;
            color: $text-collor;
            width: 100%;
            padding: 5%; 
            text-align: center;
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
            button{
                background-color: white;
                border: none;
                border-radius:30px;
                font-size: 15px;
                padding: 3%;
                a{
                    list-style: none;
                    text-decoration: none;
                    color: black;
                }
            }   
        }
    }
    .second{   //make a mix in fore media panels
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5vh;
        img{
            width: 100%;
        }
        .content{
            background-color: $them-collor;
            color: $text-collor;
            width: 100%;
            padding: 5%; 
            text-align: center;
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
            button{
                background-color: white;
                border: none;
                border-radius:30px;
                font-size: 15px;
                padding: 3%;
                a{
                    list-style: none;
                    text-decoration: none;
                    color: black;
                }
            }   
        }
    }
}
#pizza{
    background-image: url(https://images.pexels.com/photos/3915857/pexels-photo-3915857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .sidebar{
        width: 100%;
        height: 100%;
        background-color: rgba(92, 92, 92, 0.335);  
        padding: 10% 1% 1% 1% ;
        color: $text-collor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .links{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;
                color: $text-collor;
                font-size: 30px;
                margin-top: 30%;
                margin-left: 10%;
                border-color: rgba(255, 255, 255, 0.452);
                border-style: none none solid;
                border-radius: 0px 0px 0px 5px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .text{
            p{
                margin-top: 20%;
            }
            ul{
                list-style: none;
            }
        }
    }
    .content{
        margin: 5% 0% 0% 0% ;
        width: 100%;
        background-color: rgba(92, 92, 92, 0.335);
        text-align: center;
        color: $text-collor;
        h1{
            font-size: 40px;
        }
        ul{
            list-style: none;
            li{
                text-align: start;
                margin: 10%;
                border-color: white;
                border-style: none none solid;
                border-radius: 0px 0px 5px 5px;
                a{
                    color: black;
                }
            }
        }
    }
}

#catring{
    background-image: url(https://images.pexels.com/photos/2735037/pexels-photo-2735037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0% 5% 0%;
    .card{
        background-color: rgb(66, 66, 66);
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2vh;
        .inner-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 95%;
            height: 95%;
            text-align: center;
            padding:2vh;
            .content{
                width: 90%;
                height: 60%;
                background-color: white;
                border-style: double;
                border-color: rgb(93, 93, 93);
                font-size: 18px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                .catringform{
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                }
            }
        }
    }   
}
.toTop{
    position: fixed;
    z-index: 20;
    right: 3vh;
    bottom: 2vh;
    background-color: black;
    list-style: none;
    border-radius: 36px;
    a{
        color: white;
    }
}

#infopanel{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
    .sidebar{
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .row2{
            margin-top: 10%;
        }
        a{
            margin-left: 2vh;
            list-style: none;
            color: $text-collor;
            text-decoration: none;
            font-size: 25px;
        }
    }
    .content{
        margin-top: 10%;
        width: 90%;
        h1{
            text-align: center;
        }
    }
}

footer{
    background-color: black;
    color: white;
    ul{
        list-style: none;
        text-align: center;
        padding-left: 0;
        list-style: none;
    }
}
//--------------------------------------------------------------------------------------------------------------------------------//
@media screen and (min-width: 768px) {
    .mobile-container{
        .topnav{
            height: 50%;
            justify-content: space-around;
            #myLinks {
                display: flex;
                position: relative;
                margin-top: 0vh;
                background-color: transparent;
            }
            .icon{
                display: none;
            }
            a{
                &:hover{
                    border-color: white;
                    border-style: none none solid; 
                }
            }
        }
    }
    #intro{
        background-image: url(https://images.pexels.com/photos/1082342/pexels-photo-1082342.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        .content{
            h3{
                font-size: 30px;
            }
            p{
                font-size: 20px;
            }
        }
    }
    #mediapanel{
        .first{
            flex-direction: row;
            img{
                width: 50%;
                height: auto;
            }
            .content{
                button{
                    padding: 1%;
                }
            }
        }
        .second{
            flex-direction: row;
            img{
                width: 50%;
                height: auto;
            }
            .content{
                button{
                    padding: 1%;
                }
            }
        }
    }
    #catring{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .card{
            width: 50%;
            padding: 1%;
            z-index: 10;
            .inner-card{
                width: 95%;
                height: 95%;
                padding:2vh;
                .content{
                    width: 90%;
                    height: 60%;
                    background-color: white;
                    border-style: double;
                    border-color: rgb(93, 93, 93);
                    font-size: 18px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .catringform{
                        width: 100%;
                        padding: 12px 20px;
                        margin: 8px 0;
                        display: inline-block;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
    #pizza{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top:2vh;
        .sidebar{
            width: 20%;
            position: fixed;
            height: 100%;
            padding: 1vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .text{
                a{
                    text-decoration: none;
                    font-size: 30px;
                    margin-top: 30%;
                    border-color: rgba(255, 255, 255, 0.452);
                    border-style: none none solid;
                    border-radius: 0px 0px 0px 5px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                p{
                    margin-top: 30%;
                }
                ul{
                    list-style: none;
                    text-align: left;
                }
            }
            .links{
                display: flex;
                flex-direction: column;
                align-items: unset;
                width: 100%;
                height: 50%;
            }
        }
        .content{
            margin: 5% 0% 0% 0% ;
            width: 50%;
            background-color: rgba(92, 92, 92, 0.335);
            text-align: center;
            color: $text-collor;
            top: -100px;
            h1{
                font-size: 40px;
            }
            ul{
                list-style: none;
                li{
                    text-align: start;
                    margin: 10%;
                    border-color: white;
                    border-style: none none solid;
                    border-radius: 0px 0px 5px 5px;
                }
            }
        }
    }
    #infopanel{
        .sidebar{
            margin-top: 10%;
        }
        .content{
            margin-top: 10%;
            width: 80%;
            h1{
                margin-top: 10%;
            }
        }    
    }
    footer{
        ul{
            text-align: left;
        }
    }
}